*{
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background: #F1F1F1;
  width: 100%;
  height: 100%;
}
.swipe {
  position: relative;
  top:53px;
  z-index:1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe ul{
  list-style: none;
  margin: 0;
  padding:0 0 0 0;

}
.swipe li{
  position: relative;
  padding:0 0 30px 0;

}
.swipe li div{
  
  overflow-x:hidden;
  width:98%; max-width:560px; 
  top:0px;
  text-align:center;
  margin: 0 auto;
  display: block;
}


.swipe li div span{
  background: #fff;

  padding:0 10px;
  display: block;
  text-align: left;
  line-height:1.3em;
  font-size:1.3em;
  color: #333; 
  border-bottom: 1px solid #ccc;
}
.swipe img{ width:100%; max-width:560px; 
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header{
   position: fixed;
   z-index: 100;
   top:0;
   height:50px; 
   display: block; 
   width:100%; background: #FFF;

}

.pre{
  background: url(pre.png) no-repeat left;
  width: 70px;
  height: 35px;
  display: block;
  position: absolute;
  top:7px;
  left:0px;
}
.logobw{
  margin-left:25px;
  background: url(logobw.png) no-repeat;
  width: 35px;
  height: 35px;
}
.logo{
  background: url(logo.png) no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  left:49%;
  margin-left:-24px;
  top:2px;
}
.header h2{position: absolute; left:65px; font-weight: normal; 
line-height: 50px;
overflow: hidden;
  font-size:1.3em; 
margin: 0;
padding: 0;
color:#999;
}
.icons{
  list-style: none; 
  position: fixed; 
  width: 100%; 

  background: #FFF;

  bottom: 0;
  z-index: 100;
}

.icons li{width:32%; display: inline-block;}
.share{
  display: block;
  background: url(share.png) no-repeat;
  width: 42px;
  height: 32px;
  float: right;
}
.save{
  display: block;
  background: url(save.png) no-repeat;
  width: 42px;
  height: 32px;
  position: relative;
  left:50%;
  margin-left:-16px;
}
.like{
  display: block;
  background: url(like.png) no-repeat;
  width: 42px;
  height: 32px;
}
.hide{
  display: none;
  -moz-transform: translate3d(0px,0,0);
  -webkit-transform: translate3d(0px,0,0);
}


#preloader{position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 300; top:0; left:0;}
#preloader .loader{background: url(loader.gif) no-repeat; display:block; position:absolute; width: 32px; height: 32px; left:50%; margin-left:-16px; top:50%; margin-top: -16px; }

.preview{margin:0 auto; width:96%;  max-width:500px; }
.preview div{ width:100%;  max-width:500px; height:120px; display: block; background-position:center; margin: 7px 0px; border:2px solid #fff;}
.preview div span{padding:10px; display: block;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
   text-shadow:-2px 0px 6px #000000

}